<% @title = "Rafael Segovia - " %>
<%= render 'principal/header' %>

	<div class="principal-chica uk-block-large">
		<span class="titulo-chico">In memoriam</span>
		<span class="titulo-grande">Rafael Segovia</span>
		<div class="uk-width-1-1 uk-margin-medium-top">
			<%= image_tag 'slide-rafael-segovia.jpg' %>
		</div>

		<div class="uk-width-1-1 uk-margin-large-top">
			<span class="titulo-chico rosa-bold">Biografía</span>
			<p>Nació en España en 1928 y, tras la guerra civil, llegó a México en 1940. Estudió Historia en la Facultad de Filosofía y Letras de la UNAM en tiempos de Edmundo O’Gorman, y después realizó estudios de historia en la Universidad de París y en la Escuela de Ciencias Políticas. Desde 1951, ejerció la docencia y la investigación. Desde 1962 a 2018 fue Profesor-Investigador del Centro de Estudios Internacionales de El Colegio de México y fue maestro de gran número de generaciones de estudiantes que se han destacado en la academia, la política y las relaciones internacionales. Fue Coordinador General Académico de la institución. Fue especialista en ciencia política e historia política y autor de varias obras sobre la educación política en México, así como gran número de artículos académicos y de prensa sobre la coyuntura política nacional e internacional. Fue nombrado profesor emérito de El Colegio de México el 31 de agosto de 1995.</p><br>
			<span class="titulo-chico rosa-bold">Homenaje</span>
			<ul>
				<li><a class="uk-link" href="/docs/Ana_Covarrubias.pdf" target="_blank">Discurso de Ana Covarrubias</a></li>
				<li><a class="uk-link" href="/docs/Carlos_Arriola_W.pdf" target="_blank">Discurso de Carlos Arriola</a></li>
				<li><a class="uk-link" href="/docs/Hector_Santana.pdf" target="_blank">Discurso de Héctor Santana</a></li>
				<li><a class="uk-link" href="/docs/Lorenzo_Segovia.pdf" target="_blank">Discurso de Lorenzo Segovia</a></li>
				<li><a class="uk-link" href="/docs/Ma._del_Carmen_Pardo.pdf" target="_blank">Discurso de María del Carmen Pardo</a></li>
				<li><a class="uk-link" href="/docs/Rogelio_Hernandez.pdf" target="_blank">Discurso de Rogelio Hernández</a></li>
			</ul>
		</div>
	</div>

<%= render 'principal/footer' %>
