/* Estilos de la página "Sobre" */

#vid-sobre{
	display: block;
	margin: 0 auto;
	width: 92%;
}

.lista-links { 
	list-style-type: none; 
	padding-left: 120px; 
	
	>li{
		margin: 0 0 5px 0;
	}
}

.icon-flecha{
	height: 34px;
	width:34px;
}

use.flecha-menu{
	fill: none;
	stroke: #CC4E78;
	stroke-miterlimit: 10;
	stroke-width: 2px;
}
use.flecha-menu:hover, use.flecha-menu:focus{
	stroke: #A02A4C;
}

svg path{
	stroke: inherit;
}
