/* Estilos de la página "Sobre" */

#vid-sobre{
	display: block;
	margin: 0 auto;
	width: 92%;
}

.lista-links { 
	list-style-type: none; 
	padding-left: 120px; 
	
	>li{
		margin: 0 0 5px 0;
	}
}

.cls-1{
	fill: none;
	stroke: #CC4E78;
	stroke-miterlimit: 10;
	stroke-width: 2px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.cls-1:hover, .cls-1:focus{
	stroke: #A02A4C;
}

