<% @title = 'Contacto - ' %>
<%= render 'principal/header' %>


<div class="uk-width-1-1 principal-chica uk-block-large">
    <div class="uk-grid uk-grid-small">
    <div class="uk-width-large-3-5 uk-text-center-small uk-text-center-medium uk-text-left">
    	<span class="titulo-grande texto-sub"><%= t('.contacto') %></span><br>
			<%= t('.previo_html') %>
    </div>
    <div class="uk-width-large-2-5">
				<a target="_blank" href="https://www.facebook.com/ceicolmex/">
					<img class="img_net" src="/img/fb-cei-color.svg">
				</a>
				<a target="_blank" href="https://twitter.com/CEIColmex">
					<img class="img_net" src="/img/tw-cei-color.svg">
				</a>
    <p>&nbsp;</p>
    </div>
    </div>
    </div>


<script>
$(document).ready(function(){
	$(window).resize(function(){
		$("#vid-sobre").height($("#vid-sobre").width() * 9 / 16);
	});

	$(window).trigger("resize");
});
</script>

<%= render 'principal/footer' %>
